{% extends 'basic.html' %}
{% load static %}
{% block style %}
<style>
  
    .bannerorenge {
    background: url("{% static 'img/banner_blue.png' %}");
    background-size: cover;
    position: relative;
}
</style>

</style>
{% endblock %}
{% block body %}
<section class="banner bannerblue bannerorenge">
    <div class="hero-area-caption">

        <div class="container-fluid">
            <div class="row text-center ">
                <div class="col-md-6 ">

                    <h1 class="subtitle">We are challenging the latest IT trends with our ethics, principles and
                        values</h1>
                    <h2 class="whitecolor">Integrity, honesty, decency, honor, respect and love are the fundamental
                        pillars of our organization </h2>

                </div>
                <div class="col-md-6 "><img class="mt-150 img-fluid img-hide" src="{% static 'img/about_us.png' %}"
                        alt="Business Intelligence Services"></div>
            </div>
        </div>
    </div>
</section>
<!-- ---------------------Intersctive start---------------- -->

<section class="pt-50 pb-50" id="about">
    <div class="container maintitle">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title text-left">
                    About us</h1>
                <div class="linemiddleleft"></div><br>
                <div class="clearfix"></div>
                <p class="text-left">
                    <b>CyberflaxLabs</b> is software Services company. We have a team of highly skilled employees
                    providing solutions to clients requirements with latest technology and industry standard. We
                    successfully developed various solutions to enterprise and end users with our application
                    deployed across globe. We are working on some highly innovative products which will be part of
                    our story in coming time.
                </p>

                <p class="text-left">
                    We created CyberflaxLabs to provide clients a unique combination of:

                </p>
                <p class="text-left">
                    <b>Industry Focus:</b> Our team has worked in the IT industry for various domains and provides
                    the solutions with high industry standards and technology. With the solutions provided by us,
                    clients have benefited with increase the revenue of the organization, Ease the life of the
                    users, reduce the time of the transactions.

                </p>
                <p class="text-left">

                    <b>Technology Expertise:</b> CyberflaxLabs has a expertise on various latest technologies and we
                    build the solution to our client by picking the best technology which suits the requirement by
                    keeping reliability, scalability and performance in mind.
                </p>
                <p class="text-left">

                    <b>Enterprise Delivery Experience:</b> We have a proven track record of providing various
                    enterprise solutions to some of the world’s largest companies.

                </p>

            </div>
        </div>
    </div>
</section><br><br>
<!---------------------Benefits You End------------------------>
<section class="whitecolor parallax section active-section pt-50 pb-50 engagement what">
    <div class="wrapsection">
        <div class="container">
            <div class="row">
                <div class="maintitle col-12">
                    <h3 class="wow whitecolor text-center mb-30 ">We are driven by three VIRTUES </h3>
                    <div class="linemiddle mb-30"></div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-30 pb-30 ">
                    <div class="ourflexi pl-20 pr-20 pb-20">
                        <img alt="Excellence" src="{% static 'img/ourvalue.svg' %}">
                        <h4>Excellence</h4>
                        <div class="linemiddle mb-20"></div>There is only one global standard we strive for, that is
                        ‘Excellence’. Excellence in service, Excellence in partnership formation and Excellence in
                        innovation. The way we pursuit excellence, displays our scrupulous effort to go extra mile
                        and offer a true value to our customers
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-30 pb-30 ">
                    <div class="ourflexi pl-20 pr-20 pb-20">
                        <img alt="Commitment" src="{% static 'img/ourvalue1.svg' %}">
                        <h4>Commitment</h4>
                        <div class="linemiddle mb-20"></div>We are responsible therefore; we are accountable for
                        everything we do here at Cyberflax. It is our personal commitment to savor happiness by
                        delivering only the best results. Our commitment and our loyalty has helped us earn a fine
                        record of accomplishment amongst our clients.
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6  text-center pt-30 pb-30 ">
                    <div class="ourflexi pl-20 pr-20 pb-20">
                        <img alt="Innovation" src="{% static 'img/ourvalue2.svg' %}">
                        <h4>Innovation</h4>
                        <div class="linemiddle mb-20"></div>We are an open-minded company with independent minded
                        professionals thriving for uniqueness in every project through innovation. The creative
                        minds in Cyberflaxtake great pride in experimenting to deliver innovative solutions by
                        thinking out- of-the-box strategies.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ------------------------Benefit you start---------------- -->
<section class="section pt-50 pb-50" id="blog">
    <div class="container maintitle">
        <div class="section-title text-center "><img src="{% static 'img/ourvaluemain.svg' %}" alt="We Shape Our Own Vision"
                class="image80 img-fluid"></div>
        <div class="row hownew pb-0">
            <div class="col-20 ">
                <div class="border-bottom1">
                    <h4 class="mb-20">
                        Simplicity</h4>
                </div>
                <p class="text-center">We believe Simplicity is
                    brilliance that makes us do complex things simple</p>
            </div>

            <div class="col-20 ">
                <div class="border-bottom12">
                    <h4 class="mb-20">
                        Honesty</h4>
                </div>
                <p class="text-center">We appreciate Honesty;
                    it empowers us to perform with confidence and
                    punctuality</p>
            </div>

            <div class="col-20 ">
                <div class="border-bottom13">
                    <h4 class="mb-20">
                        Accountability</h4>
                </div>
                <p class="text-center">We are Accountable for
                    not only what we did, but also for what we could not</p>
            </div>

            <div class="col-20  ">
                <div class="border-bottom14">
                    <h4 class="mb-20">
                        People</h4>
                </div>
                <p class="text-center">We the People of Cyberflax
                    do not believe in ‘WALLS’, we build ‘BRIDGES’</p>
            </div>

            <div class="col-20  ">
                <div class="border-bottom15">
                    <h4 class="mb-20">
                        Excellence</h4>
                </div>
                <p class="text-center">For us Excellence is appreciation for a result obtained by a zeal to do
                    things simple &amp; creative.</p>
            </div>


        </div>
    </div>
</section>
 <!-- ------------------------------footer--------------------- -->
{% endblock %}


