{% extends 'basic.html' %}
{% load static %}
    {% block body %}
    {% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

{% endblock %}
    {% if banners %}
    <div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for banner in banners %}
            <div class="carousel-item {% if forloop.counter == 1 %} active{% endif %}">
              <section class="bannerorenge  active-section" id="hero1" style=" background: url(/media/{{banner.banner}});background-size: cover;position: relative;">
  
  
                  <div class="container height100">
                      <div class="row textmiddle">
                          <div class="col-md-6 displaytable">
                              <div class="herotext">
                                  <h1 class="">{{banner.banner_title}} </h1>
                                  <h2 class="lead">{{banner.banner_content}}</h2>
                                  <p class="loadmore"><a class="btn btn-common btn-md text-uppercase" href="/contact">Get a Quote</a></p>
                              </div>
                          </div>
                          <div class="col-md-6  "><img class="mt-40" src="/media/{{banner.banner_icon}}" alt="Work With Awesome Mobile App Development Company"></div>
                      </div>
                  </div>
              </section>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
  
  </div>
{% endif %}
    <!-- -------------------how we work---------------->
    <section class="section bg-white imagesizenew pt-50 pb-50">
        <div class="section__content">
            <div class="container ">
                <h3 class="section-title text-center">Here's what we can work on together</h3>
                <div class="linemiddle mb-60"></div>

                <div class="row">
                    {% for work in service %}
                    {% if work.title != 'none' %}
                    <div class="col-lg-4 text-center">
                        <img src="/media/{{work.icon}}" alt="Mobile Design App">
                        <h4 class="service__title " style="text-align: center;">{{work.title}}</h4>
                        <p style="font-size: 15px!important;
                        color: #444b54!important; text-align: center;">{{work.content|slice:":254"}}<br>
                            <br><a href="/service{{work.id}}" style=" color: #71bf45;;">Read More&gt;&gt;</a>
                        </p>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>

    </section>
    <!-- ------------------------Blog------------------ -->
    <section class="section" id="blog">
        <div class="container">
            <h3 class="section-title text-center ">We believe our work speaks for itself</h3>
            <div class="linemiddle mb-60"></div>
            <div class="row">
                {% for project in projects %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="blog-item-wrapper">
                        <div class="blog-item-img item">
                            <a href="#"><img alt="Popshop live App" src="/media/{{project.icon}}"></a>
                        </div>
                        <div class="blog-item-text">
                            <h4 class="small-title"><a href="/contact/">{{project.title|slice:':20'}}</a></h4>
                        </div>
                    </div>
                </div>
             {% endfor %}

            </div>
        </div>
    </section>
    <!-- ------------------------Why choose us ------------------ -->
    <section class="section" id="cool-facts">
        <div class="container whychooseusnew">
            <div class="maintitle col-12">
                <h3 class="whitecolor text-center ">Why choose us</h3>
                <div class="linemiddle mb-80 mt-20"></div>
            </div>
            <div class="row whychoose">
                <div class="col-sm-6 col-xs-12 col-lg-4">
                    <div class="fact-block clearfix">
                        <div class="facts-item">
                            <img class="pull-left" src="{% static 'img/team1.svg' %}" alt="Experience">
                            <div class="fact-count">
                                <h3><span class="counter">5</span>+ Years</h3>
                                <h4>of Experience</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 col-lg-4">
                    <div class="fact-block clearfix ">
                        <div class="facts-item">
                            <img class="pull-left" src="{% static 'img/team2.svg' %}" alt="Industry Experts">
                            <div class="fact-count">
                                <h3><span class="counter">15</span>+</h3>
                                <h4>Industry Experts</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 col-lg-4">
                    <div class="fact-block clearfix ">
                        <div class="facts-item">
                            <img class="pull-left" src="{% static 'img/team3.svg' %}" alt="Solutions Delivered">
                            <div class="fact-count">
                                <h3><span class="counter mt-5">100</span>+</h3>
                                <h4>Solutions Delivered</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12 col-lg-4 mt-80">
                    <div class="fact-block clearfix">
                        <div class="facts-item">
                            <img class="pull-left" src="{% static 'img/team5.svg' %}" alt="Happy Clients">
                            <div class="fact-count">
                                <h3><span class="counter">50</span>+</h3>
                                <h4>Happy Clients</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 col-lg-4 mt-80">
                    <div class="fact-block clearfix">
                        <div class="facts-item">
                            <img class="pull-left" src="{% static 'img/team6.svg' %}" alt="Users Love our work">
                            <div class="fact-count">
                                <h4>Thousands of <br>user Love our work</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------footer--------------------- -->
    {% endblock %}